In [2]:
from pandas import read_csv
df = read_csv("Loan_Data.csv")

In [61]:
df.head(20)
df['default'].value_counts(1)

default
0    0.8149
1    0.1851
Name: proportion, dtype: float64

In [13]:
df.set_index('customer_id',inplace = True)

In [77]:
train = df.iloc[0:8000]
test = df.iloc[8000:10000]
test

,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
customer_id,,,,,,,
1604134,5,3683.468893,15762.948730,52866.04111,2,562,1
7638660,0,2022.298526,2050.954718,38518.10083,4,659,0
3642445,2,5616.069979,15651.927410,92563.01135,2,586,0
4833016,1,5316.679750,8494.673230,78577.94145,6,608,0
4140179,5,3449.465266,12872.920690,50769.06520,5,662,1
...,...,...,...,...,...,...,...
3972488,0,3033.647103,2553.733144,42691.62787,5,697,0
6184073,1,4146.239304,5458.163525,79969.50521,8,615,0
6694516,2,3088.223727,4813.090925,38192.67591,5,596,0
3942961,0,3288.901666,1043.099660,50929.37206,2,647,0
5533570,1,1917.652480,3050.248203,30611.62821,6,757,0

In [15]:
var = ['credit_lines_outstanding', 'loan_amt_outstanding', 'total_debt_outstanding', 'income', 'years_employed', 'fico_score']
var[2]

'total_debt_outstanding'

In [35]:
x = df.values[:,0:6]
y = df.values[:,6]

In [46]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt

In [52]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 100)

In [80]:
pred= DecisionTreeClassifier(criterion="entropy",random_state=100, max_depth=3,min_samples_leaf = 6).fit(X_train,y_train)

In [102]:
y_pred = pred.predict(X_test)
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [82]:
score = accuracy_score(y_pred, y_test)
score

0.987

In [83]:
c0 = 0
c1 = 1
for i in y_test:
    if i<0.5:
        c0+=1
    else:
        c1+=1
print (c0/2000,c1/2000)
t = 0
c = 0

0.8185 0.182

In [85]:
for i in range(2000):
    if y_pred[i]==1:
        t+=1
print(t/2000)

0.1715

In [86]:
print(confusion_matrix(y_pred,y_test))

[[1634   23]
 [   3  340]]

In [87]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.99      1.00      0.99      1637
         1.0       0.99      0.94      0.96       363

    accuracy                           0.99      2000
   macro avg       0.99      0.97      0.98      2000
weighted avg       0.99      0.99      0.99      2000

In [107]:
def will_default(cl,l_amt,d_amt,income,years,fico):
    return int(pred.predict([[cl,l_amt,d_amt,income,years,fico]])[0])

In [117]:
will_default(4.00000000e+00, 5.22154519e+03, 3.91547123e+03, 7.80393855e+04,
       5.00000000e+00, 84.05000000e+02)

1